html 
{
    background-color: #111111;
    color: white;
    font-family: sans-serif;
    font-size: 125%;
    padding: 2%;
}
.pageHeader
{
    font-size: 300%;
}
.pullQuote 
{
    font-size: 200%;
    font-weight: 20;
}
.socials
{
    display: flex;
    flex-direction: row;
    column-gap: 1%;
    height: 4%;
    width: auto;
}
.projectsBlock
{
    border: 1px;
}